<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="SampleGenerated">
            <directory>./SampleGenerated</directory>
        </testsuite>
        <testsuite name="SampleGenerated_generated">
            <directory>./../data/generated/test/SampleGenerated</directory>
        </testsuite>
    </testsuites>
</phpunit>